[submodule "auth-service"]
	path = auth-service
	url = git@github.com:PlatformMusicManager/auth-service.git
[submodule "database"]
	path = database
	url = git@github.com:PlatformMusicManager/database-container.git
[submodule "soundcloud-service"]
	path = soundcloud-service
	url = git@github.com:PlatformMusicManager/soundcloud-service
[submodule "library-service"]
	path = library-service
	url = git@github.com:PlatformMusicManager/library-service.git
